<extend name="Common/common"/>
<block name="css">
    <style type="text/css">
        .padding-right{
            margin-right: 15px;
        }
    </style>
</block>
<block name="container">
    <div class="row">
       <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联动菜单</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form name="rule-order" id="rule-order">
                    <a class="btn btn-primary add-field" href="{:U('Admin/Content/addLinkage')}">添加菜单</a>
                        <div class="table-box" style="margin-top: 10px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>菜单名称</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {$tr}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){


            $('.del-linkage').click(function(){
                var id = $(this).data('val');
                parent.del_linkage(id);
            })





        })
    </script>
</block>
