<extend name="common/base"/>
<block name="container">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                <h4 class="text-danger">二手车采集管理系统</h4>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>系统信息</h5>
                            </div>
                            <div class="ibox-content">
                                <p>系统windows</p>
                                <p> PHP版本：PHP7.0</p>
                                <p> 数据库版本：mysql5.3</p>
                            </div>
                        </div>                         
                    </div>

                </div>
            </div>

        </div>
        <div class="footer">
            <div class="pull-right">
                By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
            </div>
            <div>
                <strong>Copyright</strong> H+ &copy; 2014
            </div>
        </div>
    </div>
</block>
