<extend name="common/base"/>
<block name="content">
  <div class="container">
    <div class="wrap-left pull-left">
      <span class="most_update"><span class="crumbs"><span>首页</span>>><a href="#">资讯</a></span></span>
      <div class="artilce-list">


        <volist name="articles" id="article">
          <if condition="$article.cover eq ''">
            <div class="artilce-list-div">
              <div class="mob-ctt no-cover">
                  <h3><a target="_blank" class="transition" href="/{:getCategory($article['categoryid'])}/{$article.id}">{$article.title}</a></h3>
                  <div class="mob-author">
                      <a target="_blank" href="javascript:void(0);"><span class="author-name ">{$article.username}</span></a>
                      <span class="time">{$article.updatetime}</span>
                      <i class="icon icon-cmt"></i><em>1</em>
                      <i class="icon icon-fvr"></i><em>0</em>
                      <i class="icon icon-line"></i>
                      <i aid="141907" data-f="pc-weibo-index" data-location="index" class="icon icon-weibo js-weibo js-share-article"></i>
                      <div class="qr-moments-box">
                          <i data-aid="141907" data-f="pc-friends-index" data-location="index" class="icon icon-moments js-icon-moments"></i>
                      </div>
                      <i aid="141907" data-f="pc-qzone-index" data-location="index" class="icon icon-Qzone js-qzone js-share-article"></i>
                  </div>
                  <div class="mob-sub">{$article.description}</div>
              </div>
            </div>
          <elseif condition="$article.isstressed eq '1'" />
            <div class="artilce-list-div mod-b-push">
                <div class="mod-thumb">
                    <a target="_blank" href="/{:getCategory($article['categoryid'])}/{$article.id}" class="transition">
                        <img alt="#" src="/Uploads/{$article.cover}">
                    </a>
                </div><div class="mob-ctt">
                    <h3><a target="_blank" class="transition" href="/{:getCategory($article['categoryid'])}/{$article.id}">{$article.title}</a></h3>
                    <div class="mob-author">
                        <a target="_blank" href="javascript:void(0);"><span class="author-name ">{$article.username}</span></a>
                        <span class="time">{$article.updatetime}</span>
                        <i class="icon icon-cmt"></i><em>1</em>
                        <i class="icon icon-fvr"></i><em>0</em>
                        <i class="icon icon-line"></i>
                        <i aid="141907" data-f="pc-weibo-index" data-location="index" class="icon icon-weibo js-weibo js-share-article"></i>
                        <div class="qr-moments-box">
                        <i data-aid="141907" data-f="pc-friends-index" data-location="index" class="icon icon-moments js-icon-moments"></i>
                        </div>
                        <i aid="141907" data-f="pc-qzone-index" data-location="index" class="icon icon-Qzone js-qzone js-share-article"></i>
                    </div>
                    <div class="mob-sub">{$article.description|msubstr=0,55}</div>
                </div>
              </div>
          <else />
            <div class="artilce-list-div">
                <div class="mod-thumb">
                    <a target="_blank" href="/{:getCategory($article['categoryid'])}/{$article.id}" class="transition">
                        <img alt="#" src="/Uploads/{$article.cover}">
                    </a>
                </div><div class="mob-ctt">
                    <h3><a target="_blank" class="transition" href="/{:getCategory($article['categoryid'])}/{$article.id}">{$article.title}</a></h3>
                    <div class="mob-author">
                          <a target="_blank" href="javascript:void(0);"><span class="author-name ">{$article.username}</span></a>
                        <span class="time">{$article.updatetime}</span>
                        <i class="icon icon-cmt"></i><em>1</em>
                        <i class="icon icon-fvr"></i><em>0</em>
                        <i class="icon icon-line"></i>
                        <i aid="141907" data-f="pc-weibo-index" data-location="index" class="icon icon-weibo js-weibo js-share-article"></i>
                        <div class="qr-moments-box">
                            <i data-aid="141907" data-f="pc-friends-index" data-location="index" class="icon icon-moments js-icon-moments"></i>
                        </div>
                        <i aid="141907" data-f="pc-qzone-index" data-location="index" class="icon icon-Qzone js-qzone js-share-article"></i>
                    </div>
                    <div class="mob-sub">{$article.description|msubstr=0,55}</div>
                </div>
              </div>
          </if>
      </volist>
  
      </div>

      {$page}

    </div>
    <div class="wrap-right pull-right">
      <div class="box-topic">
          <div class="topic-title-bbs">
              <h4>热门推荐</h4>
          </div>
          <div class="topic-content">
            <div class="slide_container">
              <ul class="rslides" id="slider">
                <volist name="hotsPic" id="pic">
                  <li>
                    <a href="#"><img src="/Uploads/{$pic.cover}"></a>
                  </li>
                </volist>
              </ul>
            </div>
          </div>
      </div>

      <div class="slider-right-list">
        <ul>
          <volist name="hotsText" id="text" key='k'>
              <li><a target="_blank" title="{$text.title}" href="#">{$k}.{$text.title|msubstr=0,17}</a></li>
          </volist>
        </ul>
      </div>
      
      <div class="box-moder">
          <div class="box-moder-title">
            <span class="span-mark"></span>
            <div class="moder-title">特别推荐</div>
            <span class="moder-more">
              <a target="_blank" class="transition" href="/chuangye">全部</a>
            </span>
          </div>
          <div class="box-moder-content">
            <ul>
                <volist name="isspecial" id="special">
                  <li>
                      <div class="article-pic">
                          <a><img src="/Uploads/{$special.cover}"></a>
                      </div>
                      <div class="article-content">
                          <div class="article-title-special">
                              <a target="_blank" class="transition" href="#">{$special.title}</a>
                          </div>
                          <p>{$special.username}</p>
                      </div>
                  </li>
                </volist>
              </ul>
          </div>
      </div>
      
      <div class="ad-box bottom-ad">
        <img src="__PUBLIC__/home/images/ad2.jpg">
      </div>
    </div>
</div>
</block>
