<extend name="Common/common"/>
<block name="css">
    <link href="__PUBLIC__/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/js/plugins/uploadify/uploadify.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/content.css">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/js/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/js/plugins/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/js/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
</block>
<block name="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加文章</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" id="edit-article-form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">文章栏目：</label>
                                <div class="col-sm-2">
                                    <select id="category" name="categoryid" class="form-control">
                                        <volist name="categoryData" id="da">
                                            <option value="{$da.id}" <if condition="$da['id'] eq $data['categoryid']">selected="selected"</if>>{$da.name}</option>
                                        </volist>
                                    </select>                     
                                </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章标题：</label>
                            <div class="col-sm-2">
                                <input type="hidden" name="id" value="{$data.id}">
                                <input type="text" class="form-control" name="title" value="{$data.title}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章关键词：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="keywords" value="{$data.keywords}">
                                <span class="help-block m-b-none">请用逗号分隔关键词</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发布来源：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="source" value="{$data.source}">
                                <span class="help-block m-b-none">如果默认为空，将显示本站来源</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章描述：</label>
                            <div class="col-sm-3">
                                <textarea class="form-control" name="description"  rows='5'>{$data.description}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">其他选项</label>
                            <div class="col-sm-10">
                                <label class="checkbox-inline i-checks">
                                    <input type="checkbox" name="isslide" <if condition="$data.isslide eq '1'">checked</if>> 幻灯</label>
                                <label class="checkbox-inline i-checks">
                                    <input type="checkbox" name="ishot" <if condition="$data.ishot eq '1'">checked</if>> 热门</label>
                                <label class="checkbox-inline i-checks" >
                                    <input type="checkbox" name="isspecial" <if condition="$data.isspecial eq '1'">checked</if>> 特别</label>
                                <label class="checkbox-inline i-checks" >
                                    <input type="checkbox" name="isstressed" <if condition="$data.isstressed eq '1'">checked</if>> 强调
                                </label>
                                    <!-- stressed  -->
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面图：</label>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <empty name="data.cover">
                                            <img src="__PUBLIC__/admin/img/add_img.gif" width="125" height="105" id="img_images">
                                        <else />
                                            <img src="/Uploads/{$data['cover']}" width="125" height="105" id="img_images">
                                        </empty>
                                    </div>
                                    <input type="hidden" name="cover" value="{$data.cover}">
                                    <div class="col-sm-6 up-padding" >
                                        <input id="file_images" name="file_upload" type="file" multiple="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章内容：</label>
                            <div class="col-sm-6">
                                <div id="content" name="content"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">保存设置</button>
                                <a class="btn btn-white" href="{:U('Admin/Article/index')}">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/uploadify/jquery.uploadify.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        $('#file_images').uploadify({
            'swf': '__PUBLIC__/admin/js/plugins/uploadify/uploadify.swf',
            'uploader': '{:U("Admin/Index/upload")}',
            'buttonText': '上传封面',
            'width':'120',
            'height':'30',
            // 'buttonClass':'imageslist',
            'onUploadSuccess': function(file, data, response) {
                data = jQuery.parseJSON(data);
                $('#img_images').attr('src', '__ROOT__/Uploads/' + data.data);
                $('input[name=cover]').val(data.data);
            }
        });

       $(function(){
            var ue = UE.getEditor('content',{initialFrameWidth : 800, initialFrameHeight: 400});
            ue.addListener("ready", function () {
                ue.setContent('{$data.content}');
            });
            $("#edit-article-form").validate({
                rules: {
                  title:"required",
                  keywords:"required",
                  description:"required",
                },
                messages: {
                  title: "请输入文章标题",
                  keywords: "请输入文章关键词",
                  description: "请输入文章描述",
                },
                submitHandler:function(form){
                    if(ue.getContent()){
                        $.ajax({
                         type: "POST",
                         url: "{:U('Admin/Article/editArticle')}",
                         data: $(form).serialize(),
                         dataType: "json",
                         success: function(data){
                            if(data.status=='success'){
                                layer.msg(data.message,{icon: 1});
                                window.location.href ="{:U('Admin/Article/index')}";
                            }else{
                                layer.msg(data.message,{icon: 2});
                            }
                         }})
                    }else{
                        layer.msg('文章内容不能为空',{icon: 2});
                    }
                }
            })

        })
    </script>
</block>
